services:
  client:
    build:
      context: ./client
    ports:
      - "8000:3000"
    env_file:
      - ./client/.env
    depends_on:
      - api

  api:
    build:
      context: ./api
    environment:
      - HOST=0.0.0.0
      - PORT=5000
      - WORKERS=4
    ports:
      - "5000:5000"