services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8000:3000"
    environment:
      - VITE_API_BASE_URL=http://localhost:5000
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"